@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #fcfbf8;
}

::-webkit-scrollbar-thumb {
    background: #e8e2ce;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d4ccb0;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

/* Smooth scroll behavior */
html {
    scroll-behavior: smooth;
}
